@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: 'Sawarabi Mincho', sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.inner {
  width: calc(100% - 4rem);
  margin: 0 auto;
}

@media print, screen and (min-width: 768px) {
  .inner {
    max-width: 964px;
  }
}

.cmn-title {
  font-size: 3.2rem;
  font-family: 'Noto Serif JP', serif;
  font-weight: normal;
}

.cmn-title span {
  display: block;
  font-size: 1.5rem;
}

.cmn-texts {
  font-size: 1.6rem;
  margin-top: 4rem;
}

.footer {
  text-align: center;
  margin: 5rem 0;
}

.footer small {
  font-size: 1.4rem;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  padding: 1rem 0;
}

@media print, screen and (min-width: 768px) {
  .header {
    position: initial;
  }
}

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media print, screen and (min-width: 768px) {
  .header .header-container {
    margin-top: 2.8rem;
  }
}

.header .header-container .header-logo {
  width: 6rem;
}

@media print, screen and (min-width: 768px) {
  .header .header-container .header-logo {
    width: 12rem;
  }
}

.header .header-container .header-nav {
  display: none;
  position: fixed;
  top: 8.4rem;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

@media print, screen and (min-width: 768px) {
  .header .header-container .header-nav {
    display: block;
    position: static;
    width: initial;
    height: 0;
    background-color: transparent;
  }
}

.header .header-container .header-nav .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 12rem;
  vertical-align: center;
}

@media print, screen and (min-width: 768px) {
  .header .header-container .header-nav .header-list {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
}

.header .header-container .header-nav .header-list .header-item {
  font-size: 1.6rem;
  margin-right: 2.3rem;
}

.header .header-container .header-nav .header-list .header-item:nth-child(5) {
  display: none;
  height: 2.4rem;
  width: 0.2rem;
  background-color: #D5D5D5;
  margin: 4.8rem 2rem 4.8rem 0;
}

@media print, screen and (min-width: 768px) {
  .header .header-container .header-nav .header-list .header-item:nth-child(5) {
    display: block;
  }
}

@media print, screen and (min-width: 768px) {
  .header .header-container .header-nav .header-list .header-item:nth-child(6) {
    margin-right: 0;
  }
}

.header .header-container .header-nav .header-list .header-item:nth-child(7) {
  display: block;
}

@media print, screen and (min-width: 768px) {
  .header .header-container .header-nav .header-list .header-item:nth-child(7) {
    display: none;
  }
}

.header .header-container .header-nav .header-list .header-item .fab {
  font-size: 1.9rem;
}

.header .header-container .burger-btn {
  display: block;
  position: absolute;
  top: 3rem;
  right: 2.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media print, screen and (min-width: 768px) {
  .header .header-container .burger-btn {
    display: none;
  }
}

.header .header-container .burger-btn .bar {
  display: block;
  background-color: #000;
  height: 0.2rem;
  width: 3rem;
}

.header .header-container .burger-btn .bar-top,
.header .header-container .burger-btn .bar-mid {
  margin-bottom: 0.7rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-container .burger-btn .bar-bottom {
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-container .burger-btn.cross .bar-top {
  /* tranlateで指定した方向に対して回転？*/
  -webkit-transform: rotate(45deg) translate(6.5px, 6.5px);
          transform: rotate(45deg) translate(6.5px, 6.5px);
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-container .burger-btn.cross .bar-mid {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-container .burger-btn.cross .bar-bottom {
  -webkit-transform: rotate(-45deg) translate(6px, -6px);
          transform: rotate(-45deg) translate(6px, -6px);
  -webkit-transition: .3s;
  transition: .3s;
}

.top {
  padding-bottom: 5rem;
  position: relative;
  top: 10rem;
}

@media print, screen and (min-width: 768px) {
  .top {
    position: static;
  }
}

.top .top-container {
  display: block;
}

@media print, screen and (min-width: 768px) {
  .top .top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 5rem 10rem;
  }
}

.top .top-container .top-title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 3rem;
  margin: 0 auto 3rem;
  font-family: 'Noto Serif JP', serif;
}

@media print, screen and (min-width: 768px) {
  .top .top-container .top-title {
    width: 20%;
  }
}

.top .top-container .food-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media print, screen and (min-width: 768px) {
  .top .top-container .food-list {
    width: 60rem;
  }
}

@media print, screen and (min-width: 768px) {
  .top .top-container .food-list .food-item {
    margin: 2rem 2rem 0 0;
  }
}

.top .top-container .food-list .food-item img {
  width: 9rem;
}

@media print, screen and (min-width: 768px) {
  .top .top-container .food-list .food-item img {
    width: 17rem;
  }
}

.top .top-container .food-list .food-item:nth-child(3), .top .top-container .food-list .food-item:nth-child(6) {
  margin-right: 0;
}

.top .tax-included {
  margin-top: 6rem;
  font-size: 1.4rem;
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .top .tax-included {
    text-align: right;
    margin-top: 0;
  }
}

.takeout {
  background-color: #F6F1EB;
  padding: 6rem 0;
}

.takeout .takeout-container {
  margin: 0 auto;
}

@media print, screen and (min-width: 768px) {
  .takeout .takeout-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.takeout .takeout-container .takeout-texts {
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .takeout .takeout-container .takeout-texts {
    width: 45%;
  }
}

.takeout .takeout-container .takeout-texts .phone-number {
  margin: 2rem 0 4rem 0;
  font-size: 2.5rem;
}

.takeout .takeout-container .takeout-texts .phone-number a {
  border-bottom: 1px solid #000;
}

.takeout .takeout-container .takeout-texts .menu-title {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  color: #777;
}

.takeout .takeout-container .takeout-texts .menu-list {
  margin: 0 auto;
  max-width: 40rem;
}

.takeout .takeout-container .takeout-texts .menu-list .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.takeout .takeout-container .takeout-texts .menu-list .menu-item dt {
  font-size: 2rem;
  text-align: left;
}

.takeout .takeout-container .takeout-texts .menu-list .menu-item dt span {
  font-size: 1.4rem;
  color: #777;
}

.takeout .takeout-container .takeout-texts .menu-list .menu-item dd {
  font-size: 2rem;
}

.takeout .takeout-container .takeout-texts .menu-list .menu-item dd span {
  font-size: 1.4rem;
}

.takeout .takeout-container .takeout-image-list {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.takeout .takeout-container .takeout-image-list .takeout-image-item:first-child {
  margin: 0 0 0 4rem;
}

.takeout .takeout-container .takeout-image-list .takeout-image-item:first-child img {
  width: 18rem;
  border-radius: 9rem;
}

@media print, screen and (min-width: 768px) {
  .takeout .takeout-container .takeout-image-list .takeout-image-item:first-child img {
    width: 24rem;
    border-radius: 12rem;
  }
}

@media print, screen and (min-width: 768px) {
  .takeout .takeout-container .takeout-image-list .takeout-image-item:nth-child(2) {
    margin: 17rem 0 0 4rem;
  }
}

.takeout .takeout-container .takeout-image-list .takeout-image-item:nth-child(2) img {
  width: 14rem;
  border-radius: 7rem;
}

@media print, screen and (min-width: 768px) {
  .takeout .takeout-container .takeout-image-list .takeout-image-item:nth-child(2) img {
    width: 20rem;
    border-radius: 10rem;
  }
}

.takeout .takeout-container .takeout-image-list .takeout-image-item:nth-child(3) {
  margin: 0 0 0 9rem;
}

.takeout .takeout-container .takeout-image-list .takeout-image-item:nth-child(3) img {
  width: 16rem;
  border-radius: 8rem;
}

@media print, screen and (min-width: 768px) {
  .takeout .takeout-container .takeout-image-list .takeout-image-item:nth-child(3) img {
    width: 24rem;
    border-radius: 12rem;
  }
}

.lunch {
  padding: 13rem 0 5rem 0;
}

.lunch .lunch-container {
  display: block;
}

@media print, screen and (min-width: 768px) {
  .lunch .lunch-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.lunch .lunch-container .lunch-texts {
  text-align: center;
  max-width: 40rem;
}

@media print, screen and (min-width: 768px) {
  .lunch .lunch-container .lunch-texts {
    width: 40%;
  }
}

.lunch .lunch-container .lunch-texts .setmenu-list {
  margin: 3rem auto 0;
}

.lunch .lunch-container .lunch-texts .setmenu-list .setmenu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.lunch .lunch-container .lunch-texts .setmenu-list .setmenu-item dt {
  font-size: 2rem;
  text-align: left;
}

.lunch .lunch-container .lunch-texts .setmenu-list .setmenu-item dt span {
  font-size: 1.4rem;
}

.lunch .lunch-container .lunch-texts .setmenu-list .setmenu-item dt .desc {
  color: #777;
}

.lunch .lunch-container .lunch-texts .setmenu-list .setmenu-item dd {
  font-size: 2rem;
}

.lunch .lunch-container .lunch-texts .setmenu-list .setmenu-item dd span {
  font-size: 1.4rem;
}

.lunch .lunch-container .lunch-image-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 40rem;
}

.lunch .lunch-container .lunch-image-list .lunch-image-item img {
  width: 10rem;
}

@media print, screen and (min-width: 768px) {
  .lunch .lunch-container .lunch-image-list .lunch-image-item img {
    width: 18rem;
  }
}

@media print, screen and (min-width: 768px) {
  .lunch .lunch-container .lunch-image-list .lunch-image-item:first-child {
    margin-left: 22rem;
  }
}

.lunch .lunch-container .lunch-image-list .lunch-image-item:nth-child(3), .lunch .lunch-container .lunch-image-list .lunch-image-item:nth-child(6) {
  margin-right: 0;
}

@media print, screen and (min-width: 768px) {
  .lunch .lunch-container .lunch-image-list .lunch-image-item:nth-child(4) {
    margin-right: 20rem;
  }
}

.menu .menu-color {
  width: 100%;
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 3rem;
}

.menu .menu-color .cmn-title {
  margin-bottom: 4.5rem;
}

.menu .menu-color .menu-container {
  display: block;
  max-width: 40rem;
  width: calc(100% - 4rem);
  margin: 0 auto;
  padding: 0 0 2rem 0;
}

@media print, screen and (min-width: 768px) {
  .menu .menu-color .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 84%;
    max-width: none;
    margin: 0 auto;
    padding: 5rem 0 2rem 0;
    border-top: 1px solid #e1e1e1;
  }
}

@media print, screen and (min-width: 768px) {
  .menu .menu-color .menu-container .solo-food {
    width: calc(50% - 7rem/2);
  }
}

.menu .menu-color .menu-container .solo-food p {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  text-align: left;
  color: #777;
}

.menu .menu-color .menu-container .solo-food .solo-food-list .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.menu .menu-color .menu-container .solo-food .solo-food-list .menu-item dt, .menu .menu-color .menu-container .solo-food .solo-food-list .menu-item dd {
  font-size: 2rem;
}

.menu .menu-color .menu-container .solo-food .solo-food-list .menu-item dt {
  text-align: left;
}

.menu .menu-color .menu-container .solo-food .solo-food-list .menu-item dt span {
  font-size: 1.4rem;
}

.menu .menu-color .menu-container .solo-food .solo-food-list .menu-item dt .desc {
  color: #777;
}

@media print, screen and (min-width: 768px) {
  .menu .menu-color .menu-container .sweets {
    width: calc(50% - 7rem/2);
  }
}

.menu .menu-color .menu-container .sweets p {
  font-size: 1.8rem;
  text-align: left;
  color: #777;
  margin: 4rem 0 3rem 0;
}

@media print, screen and (min-width: 768px) {
  .menu .menu-color .menu-container .sweets p {
    margin: 0 0 3rem 0;
  }
}

.menu .menu-color .menu-container .sweets .sweets-list .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.menu .menu-color .menu-container .sweets .sweets-list .menu-item dt, .menu .menu-color .menu-container .sweets .sweets-list .menu-item dd {
  font-size: 2rem;
}

.menu .menu-color .menu-container .sweets .sweets-list .menu-item dt {
  text-align: left;
}

.menu .menu-color .menu-container .sweets .sweets-list .menu-item dt span {
  font-size: 1.4rem;
}

.menu .menu-color .menu-container .sweets .sweets-list .menu-item dt .desc {
  color: #777;
}

.menu .menu-color .menu-container .sweets .ice-list .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.menu .menu-color .menu-container .sweets .ice-list .menu-item dt, .menu .menu-color .menu-container .sweets .ice-list .menu-item dd {
  font-size: 2rem;
}

.menu .menu-color .menu-container .sweets .ice-list .menu-item dt {
  text-align: left;
}

.menu .menu-color .menu-container .sweets .ice-list .menu-item dt span {
  font-size: 1.4rem;
}

.access {
  margin-top: 10rem;
}

.access .access-container {
  display: block;
}

@media print, screen and (min-width: 768px) {
  .access .access-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.access .access-container .access-texts {
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
}

@media print, screen and (min-width: 768px) {
  .access .access-container .access-texts {
    width: 27%;
  }
}

.access .access-container .access-texts .access-details {
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .access .access-container .access-texts .access-details {
    text-align: left;
  }
}

.access .access-container .access-texts .access-details p {
  font-size: 1.7rem;
}

.access .access-container .access-texts .access-details .address {
  margin: 4rem 0 2.5rem 0;
}

.access .access-container .access-texts .access-details .phone-number {
  margin-bottom: 3rem;
}

.access .access-container .access-texts .access-details .phone-number a {
  border-bottom: 1px solid #000;
}

.access .access-container .access-texts dt, .access .access-container .access-texts dd {
  font-size: 1.7rem;
}

.access .access-container .access-texts .access-list .access-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto 1.5rem;
}

@media print, screen and (min-width: 768px) {
  .access .access-container .access-texts .access-list .access-item {
    margin: 0 0 1.5rem 0;
  }
}

.access .access-container .google-map {
  margin: 3rem 0 0 0;
}

@media print, screen and (min-width: 768px) {
  .access .access-container .google-map {
    margin: 0;
  }
}

.access .access-container .google-map iframe {
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .access .access-container .google-map iframe {
    width: 650px;
    height: 350px;
  }
}
/*# sourceMappingURL=style.css.map */