.access {
  margin-top: 10rem;
  .access-container {
    display: block;
    @include overTab {
      display: flex;
      justify-content: space-between;
    }
    .access-texts {
      text-align: center;
      max-width: 40rem;
      margin: 0 auto;
      @include overTab {
        width: 27%;
      }
      .access-details {
        text-align: center;
        @include overTab {
          text-align: left;
        }
        p {
          font-size: 1.7rem;
        }
        .address {
          margin: 4rem 0 2.5rem 0;
        }
        .phone-number {
          margin-bottom: 3rem;
          a {
            border-bottom: 1px solid cl(black);
          }
        }
      }
        dt,dd {
          font-size: 1.7rem;
        }
        .access-list {
          .access-item {
            display: flex;
            justify-content: space-between;
            width: 85%;
            margin: 0 auto 1.5rem;
            @include overTab {
              margin: 0 0 1.5rem 0;
            }
          }
        }
    }
    .google-map {
      margin: 3rem 0 0 0;
      @include overTab {
        margin: 0;
      }
      iframe {
        width: 100%;
        @include overTab {
          width: 650px;
          height: 350px;
        }
      }
    }
      }
}