.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: cl(white);
  padding: 1rem 0;
  @include overTab {
    position: initial;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    @include overTab {
      margin-top: 2.8rem;
    }
    .header-logo {
      width: 6rem;
      @include overTab {
        width: 12rem;
      }
    }
    .header-nav {
      display: none;
      position: fixed;
      top: 8.4rem;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: cl(white);
        @include overTab {
          display: block;
          position: static;
          width: initial;
          height: 0;
          background-color: transparent;
        } 
      .header-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 12rem;
        vertical-align: center;
        @include overTab {
          flex-direction: initial;
        }
        .header-item {
          font-size: 1.6rem;
          margin-right: 2.3rem;
          &:nth-child(5) {
            display: none;
            height: 2.4rem;
            width: 0.2rem;
            background-color: #D5D5D5;
            margin: 4.8rem 2rem 4.8rem 0;
            @include overTab {
              display: block;
            }
          }
          &:nth-child(6) {
            @include overTab {
              margin-right: 0;
            }
          }
          &:nth-child(7) {
            display: block;
              @include overTab {
                display: none;
              }
          }
          .fab {
            font-size: 1.9rem;
          }
        }
      }

    }
    .burger-btn {
      display: block;
      position: absolute;
      top: 3rem;
      right: 2.5rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      appearance: none;
      @include overTab {
        display: none;
      }
      .bar {
        display: block;
        background-color: cl(black);
        height: 0.2rem;
        width: 3rem;
      }
      .bar-top,
      .bar-mid {
        margin-bottom: 0.7rem;
        transition: .3s;
      }
      .bar-bottom {
        transition: .3s;
      }
    }
    .burger-btn.cross {
      .bar-top {
        /* tranlateで指定した方向に対して回転？*/
        transform: rotate(45deg) translate(6.5px, 6.5px);
        transition: .3s;
      }
      .bar-mid {
        opacity: 0;
        transition: .3s;
      }
      .bar-bottom {
        transform: rotate(-45deg) translate(6px, -6px);
        transition: .3s;
      }
    }
  }
}